<div class="container">
    <div class="row">
        <bm-alerts bm-items="ctrl.alerts"></bm-alerts>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">New Bookmark</div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <form novalidade class="form-horizontal" name="new_bookmark">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="title">Title</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="title" placeholder="Bookmark title" ng-model="ctrl.newBookmark.title" ng-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="url">URL</label>
                                <div class="col-md-6">
                                    <input type="url" class="form-control" name="url" placeholder="http://www.page.com.br" ng-model="ctrl.newBookmark.url" ng-required="true">
                                </div>
                            </div>
                            <button class="btn btn-default" ng-click="ctrl.clear()">Clear</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="new_bookmark.$invalid" ng-click="ctrl.create()">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
