<div class="container">
    <div class="row">
        <h2 class="text-center">Users</h2>
    </div>
    <div class="row">
        <bm-alerts bm-items="ctrl.alerts"></bm-alerts>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" ng-show="ctrl.users.length > 0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in ctrl.users">
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.role_name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary btn-xs" name="edit" ui-sref="protected.user_edit({id: user.id})"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="btn btn-danger btn-xs" mwl-confirm placement="left" title="{{'Delete user ' + user.id}}" confirm-text="YES" confirm-button-type="btn btn-danger btn-xs" cancel-text="NO" confirm-button-type="btn btn-warn btn-xs" message="Are you sure?" on-confirm="ctrl.delete($index)">
                                    <span class="glyphicon glyphicon-minus"></span></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
