<div class="row">
  <div class="col-md-3 xs-hidden">
  </div>
  <div class="col-md-6 col-xs-12">
    <h1 class="text-center">Login</h1>
    <form name="login">
      <div class="form-group">
        <label for="username">Username</label>
        <input ng-model="ctrl.credentials.username" ng-required="true" name="username" type="text" class="form-control input-lg" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input ng-model="ctrl.credentials.password" ng-required="true" name="password" type="password" class="form-control input-lg" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ctrl.saveCredentials"> Save Password
        </label>
      </div>
        <button ng-click="ctrl.login()" ng-disabled="login.$invalid" type="submit" class="btn btn-lg btn-primary">Login</button>
        <button ui-sref="signup" class="btn btn-lg btn-success">Sign-Up</button>
    </form>
  </div>
  <div class="col-md-3 xs-hidden">
  </div>
</div>
